
/* roof for all variables */

/* styling body */
body {
    background-image: url("../images/bodybackground.png");
}
/* styling of Nav */
.myNav {
    position: fixed;
    width: 100%;
    background-color: paleturquoise !important;
    background-size: cover;
    z-index: 10;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-item {
    margin: 0px  15px;
}
/* Styling Hero/jumbotron section */
.jumboMini {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }
  .jumbotron {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    text-align: center;
  }

.col {
   text-align: center; 
}
.card img{
    padding: 0px 30px 30px 30px;
    height: 400px;
    width: auto;
}