/* roof for all variables */
:root {
    --buttonColour: pink;
    --secondaryTextColour: white;
    --primaryColour: paleturquoise;
    --designColour: black;
}

/* styling body */
body {
    background-color: #CECCCC;
}

/* styling of Nav */
.myNav {
    position: fixed;
    width: 100%;
    background-color: var(--primaryColour) !important;
    background-size: cover;
    z-index: 10;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-link:hover {
    border: 2px solid var(--designColour);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}


/* Styling Hero/jumbotron section */
.jumboMini {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: var(--secondaryTextColour);
    text-align: center;
}

.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.jumboBackground {
    background-image: url("../images/waterfallBanner.jpg");
}


/* Styling of every button in the project. Including hover styling*/
.btn {
    font-size: 20px;
    background-color: var(--buttonColour);
    margin: top 60px;

}

.btn:hover {
    border: 2px solid var(--designColour);
    background-color: fuchsia;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
    text-decoration: none;

}

/* styling for picture (selfie) */
.portrait {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 2px solid var(--designColour);
    padding: 0;
    margin: 2rem;
    width: 200px;
}

/* All h2 subheadings to share the same styling */
h2 {
    text-align: center;
    border: 5px solid var(--designColour);
    background-color: var(--primaryColour);
}

.col {
    text-align: center;
}

/* All images in the cards to have the same styling */
.card img {
    padding: 0px 30px 30px 30px;
    height: 400px;
    width: auto;
}


/* Styling for the Contact Me section */
.contact-form form {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
}

/* All styling for contact me form */
form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: var(--secondaryTextColour);
    padding: 15px;
    margin: 15px 0;
    color: var(--designColour);
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background-color: var(--buttonColour);
    color: var(--secondaryTextColour);
    text-decoration: none;
}

/* styling of Footer individual icons in the contact me section */
footer {
    background: var(--primaryColour);
    width: 100%;
    text-align: center;
    padding: 10px;
    font-weight: 300;
}

.ftext {
    color: var(--secondaryTextColour);
}

footer i {
    font-size: 20px !important;
    color: var(--secondaryTextColour);
    box-shadow: 10px 5px 5px;
}

footer i:hover {
    border: 2px solid fuchsia;
}

.wrapper {
    display: inline-flex;
}

.fa-linkedin {
    color: #3B5998;
    font-size: 100px;
}

.fa-github {
    color: var(--designColour);
    font-size: 100px;
}

.fa-twitter {
    color: #55ACEE;
    font-size: 100px;
}

span {
    color: #d87093;
    size: 20px;
}